In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
survival = pd.read_csv("tested.csv")
survival

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
survival.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
survival.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
new_survival = survival.drop(['PassengerId','Cabin','Name','Fare','Age','Ticket'],axis =1)
new_survival

     Survived  Pclass     Sex  SibSp  Parch Embarked
0           0       3    male      0      0        Q
1           1       3  female      1      0        S
2           0       2    male      0      0        Q
3           0       3    male      0      0        S
4           1       3  female      1      1        S
..        ...     ...     ...    ...    ...      ...
413         0       3    male      0      0        S
414         1       1  female      0      0        C
415         0       3    male      0      0        S
416         0       3    male      0      0        S
417         0       3    male      1      1        C

[418 rows x 6 columns]

In [7]:
new_survival.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [8]:
new_survival['Sex'].unique()

array(['male', 'female'], dtype=object)

In [9]:
new_survival['Sex'] = new_survival['Sex'].map({'male':0,'female':1})
new_survival

     Survived  Pclass  Sex  SibSp  Parch Embarked
0           0       3    0      0      0        Q
1           1       3    1      1      0        S
2           0       2    0      0      0        Q
3           0       3    0      0      0        S
4           1       3    1      1      1        S
..        ...     ...  ...    ...    ...      ...
413         0       3    0      0      0        S
414         1       1    1      0      0        C
415         0       3    0      0      0        S
416         0       3    0      0      0        S
417         0       3    0      1      1        C

[418 rows x 6 columns]

In [10]:
new_survival['Survived'].unique()

array([0, 1], dtype=int64)

In [11]:
new_survival.duplicated().sum()

329

In [12]:
new_survival.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [13]:
#new_survival['Fare'] = new_survival['Fare'].fillna(new_survival['Fare'].mean())
#new_survival

In [14]:
new_survival.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [15]:
new_survival['Embarked'] = new_survival['Embarked'].map({'C':0,'Q':1, 'S':2})
new_survival

     Survived  Pclass  Sex  SibSp  Parch  Embarked
0           0       3    0      0      0         1
1           1       3    1      1      0         2
2           0       2    0      0      0         1
3           0       3    0      0      0         2
4           1       3    1      1      1         2
..        ...     ...  ...    ...    ...       ...
413         0       3    0      0      0         2
414         1       1    1      0      0         0
415         0       3    0      0      0         2
416         0       3    0      0      0         2
417         0       3    0      1      1         0

[418 rows x 6 columns]

In [16]:
new_survival.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    int64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Embarked  418 non-null    int64
dtypes: int64(6)
memory usage: 19.7 KB

In [17]:
y = new_survival['Survived']
x = new_survival.drop('Survived',axis =1)

In [18]:
x

     Pclass  Sex  SibSp  Parch  Embarked
0         3    0      0      0         1
1         3    1      1      0         2
2         2    0      0      0         1
3         3    0      0      0         2
4         3    1      1      1         2
..      ...  ...    ...    ...       ...
413       3    0      0      0         2
414       1    1      0      0         0
415       3    0      0      0         2
416       3    0      0      0         2
417       3    0      1      1         0

[418 rows x 5 columns]

In [19]:
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [20]:
#Train-Test-Split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)
x_train

     Pclass  Sex  SibSp  Parch  Embarked
109       2    0      0      0         2
176       2    1      0      0         2
366       3    0      1      0         0
407       1    0      1      1         0
280       3    1      0      0         2
..      ...  ...    ...    ...       ...
71        3    0      0      0         2
106       3    0      0      0         1
270       1    0      0      0         0
348       2    0      0      0         2
102       3    0      0      0         1

[280 rows x 5 columns]

In [21]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression()

In [22]:
pred = logreg.predict(x_test)
pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0], dtype=int64)

In [23]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy = accuracy_score(y_test,pred) * 100
accuracy

100.0

In [24]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc

RandomForestClassifier()

In [25]:
rfc.fit(x_train,y_train)
pred2 = rfc.predict(x_test)
accuracy_score(y_test,pred2) * 100

100.0

In [26]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(x_train,y_train)

GradientBoostingClassifier()

In [27]:
pred3 = gbc.predict(x_test)
accuracy_score(y_test,pred3) * 100

100.0

In [28]:
import pickle
with open('RandomForestClassifier.pkl', 'wb') as pickle_out:
    pickle.dump(rfc, pickle_out)
pickle_out.close()

In [29]:
pwd

'C:\\Users\\USER\\codsoft\\titanic'